extends layout

block body
    - let update = true
    main.container
        h1= "Modification d'une recette : " + recipe.name

        include partials/form.pug

block append javascripts
    script(src="/js/form-onetomany.js")